* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #bed9fa;
    text-align: center;
    width: 100%;
    height: 90%;
}

.container {
    height: 70vh;
    margin-top: 5vmin;
    display: flex;
    justify-content: center;
}

.game {
    width: 60vmin;
    height: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.9rem;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: #b943fd;
    border: 1px solid #9a05f06c;
    border-radius: 24px;
    font-size: 4rem;
    font-weight: 700;
    color: #484b02;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

h1 {
    margin-top: 1rem;
    font-size: 4rem;
    font-family: fantasy;
    color: #002f5c;
}

#msg {
    font-family: 'Times New Roman';
    font-size: 2rem;
    font-weight: 700;
    color: #002f5c;
    margin-top: 1rem;
}

#restart {
    padding: 1rem 2rem;
    background-color: #002f5c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
}

#restart:hover {
    background-color: #004c8a;
}
